*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -144px;

}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(tr1.png);
    
    position: absolute;
    top: 70vh;
    background-repeat: repeat-x;
    animation: carMove linear 13s infinite;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url(car.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 30vh;
    animation: shake linear .3s infinite;
}


.wheel1 img{
    width: 77px;
    position: relative;
    top: 35px;
    left: 40px;
    animation: wheelRotation linear .16s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -40px;
    left: 235px;
    animation: wheelRotation linear .6s infinite;

}
@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove
{
    100%{
        transform: translatex(-500vw);
    }
}
@keyframes shake
{
    100%{
        transform: translatey(-5px);
    }
    100%{
        transform: translatey(-5px);
    }
    100%{
        transform: translatey(-5px);
    }
}

